/* Embedded into website */

#mcmap {
    width: 100%;
    height: 500px;
}

.dynmap .sidebar {
    width: 140px; /* original width 200px */
    margin-right: -143px; /* original margin 203px, sidebar width +2xborder 1px +1px to hide */
}

.dynmap .hitbar {
    right: 140px; /* width of sidebar */
}