/*******************
 * This is the over-ride CSS file.
 *
 * if you know any CSS you can easily add custom rules to change how DynMap
 * looks and behaves under your DynMap installation.
 *
 * 1. Uncomment the override.css in the index.html.
 * 2. Rename this file or create a new override.css.
 * 3. Add your own rules (or steal these) to personalize how DynMap looks.
 *
 * By adding your own rules here, you can then save your changes 
 * between DynMap updates and they won't get over-written.
 */


/* Use the alternate compass image */

.compass {
    top: 20px;
    right: 20px;

    height: 50px;
    width: 50px;

    background-image: url(../images/compass_alt.png);
}

/* These next two keep the DynMap sidebar open... */

.dynmap .sidebar {
	margin-right: 0px;
}

/* ...and hide the hitbar along with the sidebar controls */

.dynmap .sidebar .hitbar,
.dynmap .sidebar .panel > .pin {
	display: none;
}