/* Standalone Document */

html {
    width: 100%;
    height: 100%
}

body {
    height: 100%;

    font-family: sans-serif;
    font-size: 11px;

    color: #fff;
    background: #000;

    margin: 0px;
    padding: 0px ;
}

/* Chat Balloons */

#content { color: #000; }

#mcmap { width: 100%; height: 100%;}

.dynmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.dynmap .sidebar {
    width: 200px; /* original width 200px */
    margin-right: -203px; /* original margin 203px, sidebar width +2xborder 1px +1px to hide */
}

.dynmap .hitbar {
    right: 200px; /* width of sidebar */
}