#
# Sample permissions.yml for dynmap - trivial, flat-file based permissions for dynmap features
# To use, copy this file to dynmap/permissions.yml, and edit appropriate.  File is YAML format.
#
# All operators have full permissions to all functions.
# All users receive the permissions under the 'defaultuser' section
# Specific users can be given more permissions by defining a section with their name containing their permisssions
#   All permissions correspond to those documented here (https://github.com/webbukkit/dynmap/wiki/Permissions), but
#  do NOT have the 'dynmap.' prefix when used here (e.g. 'dynmap.fullrender' permission is just 'fullrender' here).
#
defaultuser:
  - render
  - show.self
  - hide.self
  - sendtoweb
  - stats
  - marker.list
  - marker.listsets
  - marker.icons
  - webregister
  - webchat
  #- marker.sign

#playername1:
#  - fullrender
#  - cancelrender
#  - radiusrender
