.chat {
	position:absolute;
	bottom:0px;
	left:14px;

    border-color: rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.6);

    border-style: solid;
    border-width: 1px 1px 0px 1px;

    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -o-border-radius: 3px 3px 0px 0px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 3px 3px 0px 0px;
}
.chatinput {
	margin:4px;
	width:608px;
	height:12px;
	padding:1px;
	padding-left:15px;
	color: white;
	border: 0px;
	background: rgba(0, 0, 0, 0.6);
	background: url(../images/chat_cursor.png) rgba(0,0,0,0.6); background-repeat: no-repeat; background-position:left;
	outline: none;
}
.messagelist {
	margin:4px 4px 0px 4px;
	width:622px;
	max-height:198px;
	padding:1px;
	color: white;
	overflow:hidden;
}
.messagerow {
	position:relative;
	left:0px;
	bottom:0px;
	max-height:200px;
	color: white;
	font-weight:bold;
}
.messageicon {
	position:relative;
	left:0px;
	top:1px;
}
.messagetext {
	position:relative;
	left:0px;
	top:-3px;
}