HTML {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	height: 100%;
}
BODY {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Verdana;
	color: #FFFFFF;
	background: #000000;
}
DIV {
	font-family: Verdana;
	font-size:10pt;
}
DIV#seite {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	width: 1066px; 
	min-height: 600px; 
	margin-left: -533px;
	margin-top: -300px;
	background: #c0c0c0;
	float:auto;
}
UL {
	font-family: Verdana;
	font-size:10pt;
}
LI {
	font-family: Verdana;
	font-size:10pt;
}
H1 {
	border-bottom: 1px #c0c0c0 solid;
	font-size:14pt;
}
IMG {
	border:0px;
}
TD {
	font-family: Verdana;
	font-size:10pt;
}
A:link {
	color:#fff;
	text-decoration: none;
}
A:hover {
	color:#fff;
	text-decoration: none;
}
A:visited {
	color:#fff;
	text-decoration: none;
}
A:active {
	color:#fff;
	text-decoration: none;
}
