.clock {
	padding-left: 16px;
	color: #dede90;
	background-repeat: no-repeat;
}
.clock.night { background-image: url(clock_night.png); }
.clock.day { background-image: url(clock_day.png); }

.timeofday { background-repeat: no-repeat; }
.timeofday.sun { background-image: url(sun.png); }
.timeofday.moon { background-image: url(moon.png); }

.compass {
	background-repeat: no-repeat;
	background-image: url(compass.png);
}