/*******************
 * This is the over-ride CSS file.
 *
 * if you know any CSS you can easily add any custom rules to change how
 * Dynmap looks or behaves in your particular install.
 *
 * Simply uncomment the override.css in the index.html and rename THIS file
 * to override.css to use these (or your) custom rules.
 *
 * By adding these rules here you can easily save your changes between updates.
 */


/* Use the alternate compass image */

.compass {
    top: 20px;
    right: 20px;

    height: 50px;
    width: 50px;

    background-image: url(compass_alt.png);
}

/* These next two keep the DynMap sidebar open */

.dynmap .sidebar {
	margin-right: 0px;
}

/* And hide the hitbar along with the window controls */

.dynmap .sidebar .hitbar,
.dynmap .sidebar .panel > .pin {
	display: none;
}