html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px ; background-color: #000; }
#mcmap { width:100%; height: 100% }

.map {
	width: 100%; height: 100%;
	background-color: black;
}

.sidebar {
	position: absolute;
	top: 8px;
	right: 8px;
	border: 1px solid #808080;
	background: #000;
	opacity: 0.6;
	padding: 2px;
}

input {
	margin: 0px;
}

.sidebar, label {
	clear:both;
	font-family: sans-serif;
	font-size: 8pt;
	color: white;
}

.linkbox {
	position: absolute;
	bottom: 4px;
	left: 80px;
}

.linkbox input {
	opacity: 0.6;
	border: 1px solid #808080;
	padding: 2px;
	background: #000;
	font-size: 8pt;
	color: #ddd;
	width: 10em;
}

a, a:visited, label {
	color: white;
	text-decoration: none;
}

.labels {
	font-size: 10pt;
	font-family: sans-serif;
	white-space: nowrap;
	color: white;
	display:none;
}
.gmnoprint{
	margin-top:-75px;
	margin-left:-20px
}
.plisthead{
	margin-left:3px;
	margin-right:3px;
	display:inline-block;
	height:14px;width:14px;
	background-color:#000;
	border: 0px;
}

.compass { 
	background-repeat: no-repeat;
	background-image: url(compass.png);
}

.timeofday {
	background-repeat: no-repeat; 
}

.timeofday.sun { background-image: url(sun.png); }
.timeofday.moon { background-image: url(moon.png); }

.alertbox {
	padding: 5px;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	width: 25em;
	text-align: center;
	font: 14px/16px sans-serif;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
	background-color: InfoBackground;
	border-radius: 0 0 3px 3px;
}

.playerIcon {
}

.playerrow {
	width: 120px;
	vertical-align: middle;
	overflow: hidden;
	padding: 1px;
	cursor: pointer;
}

.playerrow:hover {
	border: 1px solid #222222;
	background-color: #333333;
	padding: 0px;
}

.playerrow * {
	vertical-align: middle;
}

.Marker {
	font-family: Tahoma;
	font-size: 12px;
	color: white;
	width: 100px;
	white-space: nowrap;

	margin-left: -12px;
	margin-top: -12px;
}

.Marker * {
	vertical-align: middle;
}

.Marker span {
	visibility: hidden;
}

.Marker:hover span {
	visibility: visible;
}

.Marker img {
	width: 25px;
	height: 25px;
}

.playerMarker {
	margin-left: -16px;
	margin-top: -16px;
}

.playerMarker span {
	visibility: visible;
}

.followButton {
	width: 16px;
	height: 16px;
	background-image: url(follow_off.png);
}

.followButton.enabled {
	background-image: url(follow_on.png);
}

.maprow {
	overflow: hidden;
	width: 120px;
	padding: 1px;
}

.maprow:hover {
	border: 1px solid #222222;
	background-color: #333333;
	padding: 0px;
}

.maprow, .maprow * {
	cursor: pointer;
}

.maprow label {
	display: inline-box;
	height: 15px;
	margin-left: 5px;
}

.tile img {
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}